@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
body {
    background-color: $light;
}
body .title {
    color: $dark;
}
body.dark {
    background-color: $dark;
    color: $light;
}